{% extends 'base.html' %}

{% block title %}Classificação{% endblock %}

{% block content %}
    <div class="container">
        <h1>Classificação</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Imagem</th>
                            <th>Tipo Defeito</th>
                            <th>Imagem</th>
                            <th>Classificado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for semente in sementes %}
                            <tr>
                                <td>{{ semente.Id }}</td>
                                <td>{{ semente.TipoDefeito }}</td>
                                <td>{{ semente.Imagem }}</td>
                                <td>{{ semente.Classificado }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}