{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Classificação{% endblock %}

{% block content %}
    <div class="container">
        <h1>Classificar</h1>
    </div>

    <div class="offset-1 col-3">
        <div class="image-preview">
            <img src="{{ semente.Imagem.url }}" alt="Imagem da semente">
        </div>
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ updateSemente|crispy }}
                <input type="submit" class="btn btn-primary" value="Classificar">
            </div>
        </form>
    </div>

{% endblock %}