{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Classificação{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Classificar</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="image-preview text-center mb-4">
                            <img src="{{ semente.Imagem.url }}" alt="Imagem da semente" class="img-fluid">
                        </div>
                        <form method="post" id="classificacao-form">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ updateSemente|crispy }}
                                <button type="submit" class="btn btn-primary btn-block" name="classificar">Classificar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var defeitoField = document.getElementById("id_Defeito");
            var tipoDefeitoField = document.getElementById("id_TipoDefeito");
            var intensidadeDefeitoField = document.getElementById("id_IntensidadeDefeito");

            // Função para atualizar a visibilidade e habilitação dos campos
            function updateFieldsVisibilityAndAvailability() {
                if (defeitoField.checked) {
                    tipoDefeitoField.disabled = false;
                    intensidadeDefeitoField.disabled = false;
                } else {
                    tipoDefeitoField.disabled = true;
                    intensidadeDefeitoField.disabled = true;
                }
            }

            // Chame a função para configurar o estado inicial dos campos
            updateFieldsVisibilityAndAvailability();

            // Adicione um ouvinte de eventos para o campo 'Defeito' para atualizar os outros campos
            defeitoField.addEventListener("change", function () {
                updateFieldsVisibilityAndAvailability();
            });
        });
    </script>
{% endblock %}